<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Exclude the /post/ and /js/ directories from being redirected
  RewriteCond %{REQUEST_URI} !^/post/
  RewriteCond %{REQUEST_URI} !^/js/

  # Redirect all other requests to index.html
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
